div.container-number {
    
    height: 300px;
    width: 280px;
    display: flex;
    flex-wrap: wrap;
}

div.container-number > button {

    height: 75px;
    width: 93px;
}

div.container-operator > button {

    height: 50px;
    width: 70px;
}

#clear, #undo {

    height: 30px;
    width: 140px;
    font-weight: 900;
}

#clear {

    background-color: black;
    color: white;
}

#undo {

    background-color: yellow;
}

div.result-number {

    height: 80px;
    width: 280px;
    font-size: 1.4rem;
    background-color: azure;
}